<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=line-simple
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
    <title>android_download</title>
    <script type="text/javascript">
        var x_ios= JSON.parse('{{ x_ios|tojson|safe }}');
        var y_ios = JSON.parse('{{ y_ios|tojson|safe }}');
    </script>
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%">
      <script>
    // 等页面加载完成后执行
    window.addEventListener('load', function() {
      initChart('container');
    });
    </script>
  </div>


  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ios-down.js') }}"></script>
</body>
</html>